@page "/login"
@model LoginModel

<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Login</h1></div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                <div class="mb-4">
                    <form method="post" asp-route-returnUrl="@Model.ReturnUrl" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.UserName" class="form-label"></label>
                                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                    <label asp-for="Input.Password" class="form-label"></label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn mb-3" value="Sign In">
                                <p class="mb-4">
                                    <a href="#" id="RecoverPassword">Forgot your password?</a> &nbsp; | &nbsp;
                                    <a href="register.html" id="customer_register_link">Create account</a>
                                </p>
                            </div>
                        </div>
                    </form>

                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="row2">
                            <button type="submit" class="btn-face m-b-20" name="provider" value="Facebook" title="Log in using your Facebook account"><i class="fa fa-facebook-official"></i> Facebook</button>
                            <button type="submit" class="btn-google m-b-20" name="provider" value="Google" title="Log in using your Google account"><img src="/images/icons/icon-google.png"> Google</button>
                        </div>
                        <hr />
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!--End Body Content-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
